<h1>Vota: Batman vs Superman</h1>



<a href="http://localhost:3000/pages/batman">
<div class="batman">
</div>
</a>

<a href="http://localhost:3000/pages/superman">
<div class="superman">
</div>
<%= form_for @voto do |f| %>
 <%= f.label :heroe %>
  <%= f.text_field :heroe %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit %>
<% end %>
</a>

